@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    display: flex;
    justify-content: center;
}

.game{
    width: 80%;
    max-width: 600px;   
}

.score-field{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    padding: 17px;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
}

.score{
    width: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.score-text{
    color:hsl(229, 64%, 46%); 
    font-size: 1rem;
}

.score-count{
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
    font-weight: 700;
}

.play-field{
    width: 65vh;
    height: 65vh;
    margin: auto;
    background-image: url('/images/bg-triangle.svg');    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr;
} 

.paper, .rock, .scissors{
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
}

.container-paper{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.container-rock{
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.container-scissors{
    display: flex;
    justify-content: center;
}

.paper{
    background-image: url('/images/icon-paper.svg');
    /* border: 20px solid  hsl(230, 89%, 62%); */
}

.rock{
    background-image: url('/images/icon-rock.svg');
    /* border: 20px solid hsl(349, 71%, 52%); */
}

.scissors{
    background-image: url('/images/icon-scissors.svg');
    /* border: 20px solid hsl(230, 89%, 62%); */
}